@media screen and (max-width: 410px) {


  .services-grid{
    h3, h4{
      font-size: 12px;
    }
    li{
      font-size: 10px;
    }
  }

  main{
    .home-container{
      .text-container{
        h3{
          font-size: 15px;
        }
        h1{
          font-size: 40px;
        }
      }
    }
  }

    .cols {
      p {
        font-size: 12px;
      }
  
      h4 {
        font-size: 18px;
      }
    }
  }
  