@media screen and (max-width: 600px) {

.services-grid{
  max-width: 100%;
  margin: 0 20px;
  h3, h4{
    font-size: 15px;
  }
  li{
    font-size: 12px;
  }
}

  main{
    .home-container{
      .text-container{
        width: 80%;
        h3{
          font-size: 20px;
        }
      }
    }
  }

  .section1, .section2{
    img{
      max-width: 90%;
    }
  }

.team-img-grid{
.person{
  img{
    width: 100%;
    max-width: 98%;
    aspect-ratio: 1 / 1;
    height: 100%;
    max-height: 98%;
  }
}
}

  footer {
      .footer-container {
          position: relative; // Cambia a relative en pantallas pequeñas
          padding: 15px;
           img[alt=fondo-footer]{
            display: none;
           } 

          .logo-footer {
              position: relative; // Cambia a relative
              top: auto; // Resetea la posición
              left: auto; // Resetea la posición
              transform: none; // Elimina la transformación
              margin-bottom: 20px; // Añade margen para separación
          }

          .redes-footer {
              position: relative; 
              top: auto; 
              left: auto; 
              transform: none; 
              justify-content: center; 
              margin-top: 10px; 
              width: 100%; 
              gap: 1rem;

              i {
                  font-size: 1.5rem; // Ajusta el tamaño de los iconos
              }
          }
      }
  }
}