//Colores
$colorPrincipal: #6fc4bd;
$negro: #000;
$blanco: #fff;
$colorPrincipalOscuro: #6fc4bdc6;

//medidas
$headerImgHeight: 10.3125rem;
$headerHeight: 6.875rem;
$borderRadius: 0.35rem;
$maxwidth: 68%;
$maxWidthImg: 34.375rem;
$maxHeightImg: 20.0625rem;

